/* Stylesheet Custom CSS*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
    margin: 0px;
}

/* Header */
#header {
    height: 70px;
    color: white;
    line-height: 70px;
    padding: 20px 20px 20px 40px;
    background: linear-gradient(to right, #da0000d6 17%, #ffff00bf 87%);
    text-shadow: 0px 5px 5px darkgray;
    box-shadow: 0px -2px 7px 9px rgba(0, 0, 0, 0.34);
}

/* Left Three Sections*/
.sections {
    width: 100%
}

/* Portlet */
.column {
    float: left;
    padding: 30px;
}

.ui-widget-header {
    border: none;
    background: none;
}

.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
}

.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.portlet-content {
    padding: 0.4em;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}


/* Top left search and filter section */
#search-section {
    background: pink;
}

.search-term {
    width: 100%;
}

.wrap-search-bar {
    display: inline-block;
    margin-top: 7px;
    width: 70%;
}

.wrap-checklist {
    display: inline-block;
    float: right;
}


/* Middle left console display section */
#display-section {
    background: antiquewhite;
}

#click-data-wrap {
    height: 70%;
    overflow: auto;
    border: 1px solid #CCCCCC;
    border-radius: 16px 0px 0px 16px;
    padding: 3px 10px 0px 14px;
    max-height: 30vh;
}


/* Bottom left link message memory section*/
#message-section {
    height: 33vh;
    background: #b9f5ba;
    margin: 10px 0px 10px 25px;
}

/* Right side Graph */
#graph {
    margin-top: 30px;
}


/* Clear float*/
.clear-float {
    clear: both;
}