/* Stylesheet Custom CSS*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
    margin: 0px;
}

/* Header */
#header {
    height: 70px;
    color: white;
    line-height: 70px;
    padding: 20px;
    background: linear-gradient(to right, #da0000d6 17%, #ffff00bf 87%);
    text-shadow: 0px 5px 5px darkgray;
    box-shadow: 0px -2px 7px 9px rgba(0, 0, 0, 0.34);
}

/* Left Three Sections*/
.sections {
    padding: 5px 20px 0px 20px;
}


/* Top left search and filter section */
#search-section {
    height: 20vh;
    background: pink;
    margin: 25px 0px 10px 25px;
}

.search-term {
    width: 100%;
}

.wrap-search-bar {
    display: inline-block;
    margin-top: 7px;
    width: 70%;
}

.wrap-checklist {
    display: inline-block;
    float: right;
}


/* Middle left console display section */
#display-section {
    height: 25vh;
    background: antiquewhite;
    margin: 10px 0px 10px 25px;
}

pre {
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    padding: 8px;
}

/* Bottom left link message memory section*/
#message-section {
    height: 30vh;
    background: mediumaquamarine;
    margin: 10px 0px 10px 25px;
}

/* Right side Graph */
#graph {
    margin-top: 30px;
}


/* Clear float*/
.clear-float {
    clear: both;
}